html{
  box-sizing: border-box;
  height: 100%;
}
*, *::before, *::after{
  box-sizing: inherit;
}
a{
  text-decoration: none;
  color: #252726;
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
h4{
  font-size: 18px;
  font-weight: 600;
}
body{
  display:flex;
  flex-direction: column;
  height: 100%;
  font-family: 'AvenirNextCyr', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  background-image: url(../images/back8bit.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #e5faf4;
  color: #252726;
}
header{
flex: 0 0 auto;
}
.main-content{
flex: 1 0 auto;
}
footer{
flex: 0 0 auto;
}
.container{
  max-width: 1300px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 8px;
}
.logo{
  display:flex;
  max-width: 160px;
  &__img{
    min-width: 52px;
    height: 52px;
    background-image: url(../images/icons/logo.png);
    background-repeat: no-repeat;
  }
  &__info{ 
    text-transform: uppercase;
    color: #2b415c;
  }
  &__name{
    font-family: "VAGRoundCyrillic", sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  &__spec{
    font-family: "AvenirNextCyr", sans-serif;
    font-size: 8px;
    font-weight: 500;
    line-height: 10px;
  }
}
.button-m{
  height: 30px;
  width: 162px;
  border: solid 2px #375376;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}
.social{
  width: 17px;
  .icon-vk{
    display: block;
    margin-bottom: 20px;
  }
}
// @media (max-width: 300px){
//   .container{
//     padding: 0 5px;
//   }
// }
// // @media (max-width: 480px){
// //   .container{
// //     padding: 0 30px;
// //   }
// // }
// @media (max-width: 1200px){
//   .container{
//     padding: 0 30px;
//   }
// }