@import "vars";
@import "global";
@import "fonts";

// start header

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding-top: 20px;
  margin-bottom: 50px;
}
.header__logo{
  margin: 0 20px;
}
.header__menu{
  &>li{
    display: inline;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
  }
  li+li{margin-left: 20px;
  }
}
.contact-phone{
  position: relative;
  font-size: 14px;
  font-weight: 700;
  margin: 0  20px;
  span{vertical-align: middle;
    margin-right: 8px;
    font-size: 20px;
  }
}
.header-button{
  height: 26px;
}

//end header

//start m-slider

.m-slider{
  &__inner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 630px;
    width: 100%;
  }
  &__box{
    width: 100%;
    font-weight: 700;
    padding: 0 7%;
  }

  &__name{
    font-size: 41px;
    line-height: 45px;
    color: #fff;
    padding-top: 130px;
    margin-bottom: 40px;
  }
  &__info{
    font-size: 36px;
    line-height: 46px;
    color: #2c4461;
    text-transform: uppercase;
  }
  &__slogan{
    font-size: 14px;
    line-height: 18px;
    color: #375376;
  }
  &__button{
    width: 240px;
    height: 50px;
    background-color: #f1872f;
    font-size: 15px;
    color: #fff;
    border: none;
    box-shadow: 3px 5px 7px rgba(39,60,86,.39);
  } 
  &__social{
    position: absolute;
    bottom: 220px;
  }
}
.button__box{
  padding-top: 60px;
  margin: 0 0 10px 45px;

}
.slide{
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-right{
  max-width: 600px;
  max-height: 535px;
  background-image: url(../images/m-slider/m-sliderBack.png);
  background-size: contain;
  background-repeat: no-repeat;
  img{
    margin: 6%;
    display: block;
    width: 87%;
    height: auto;
  }
}
.box-left{
  max-width: 390px;;
}
.slick-dots{
  margin-bottom: 27px;
  padding:4px;
  li{
    width: 12px;
    height: 12px;
  }
  button{
  background-color: transparent;
  border: none;
  font-size: 10px;
  font-weight: 700;
  color: rgba(55, 83, 118, 0.5);
  padding: 0;
  }
  li+li{
    margin-top: 15px;
  }
  .slick-active>button{
  color:  rgba(55, 83, 118, 1);
  font-size: 14px;
  margin: -1px;
  }
}

.snav{
  position: absolute;
  width: 12px;
  height: 180px;
  right: 4%;
  bottom: 190px;
  cursor: pointer;
  &__next{
    background-image: url(../images/icons/up.png);
    margin-bottom: 12px;
  }
  &__paging-info{
    transform: rotate(-90deg);
    color: $db;
    font-size: 12px;
    font-weight: 700;
  }
  &__prev{
    background-image: url(../images/icons/down.png);
  }
  
}
.arrow{
  width: 12px;
  height: 16px;
  background-repeat: no-repeat;
}
//end m-slider

//start causes
.causes__inner{
  display:flex;
  flex-wrap: wrap;
  min-height: 520px;
}
//end causes

//start portfolio
.portfolio{
  &__inner{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  align-self: center;
  }
  &__social{
    position: absolute;
    top: 320px;
  }
  &__info{
    max-width: 460px;
  }
}
.p-button{
  display: block;
  margin:  0 55px 20px auto;
}
.p-slider{
  &__wrapper{
    height: auto;
    width: 100%;
    max-width: 605px;
    position: relative;
  }
  &__img{
    max-width: 100%;
    background-image: url(../images/p-slider/slider-back.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 86%;
    img{
      max-width: 80%;
      display: block;
      height: auto;
      background-image: url(../images/p-slider/slide-cap.png);
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 12%;
    }
  }
}
.pnav{
  li+li{
    margin-left: 3px;
  }
  &__wrapper{
    position: absolute;
    right: 10%;
    bottom: 35%;
  }
  .slick-dots{
    margin-bottom: 0;
  }
  .pnav__dots{
    display: inline-block;
    background-color: #8c99a9;
    height:9px;
    width:9px;
    border-radius:50%;
    margin-top: 0;
  }
  &__paging-info{
    text-align: center;
    font-size: 12px;
  }
  .slick-dots>.slick-active{
    background-color: #375376;
  }
}

//end portfolio

//start reviews
//end reviews

//start contact
.contact__inner{
  margin-bottom: 85px;
}
.contact__title{
  margin-left: 265px;
}
.contact__title{
  max-width: 470px;
  min-height: 130px;
  font-size: 18px;
  color: #375376;
  font-weight: 700;
  line-height: 24px;
  &-1{
    max-width: 280px;
    line-height: 79px;
    background-image: url(../images/contact/contact-back.png);
    background-position: top;
    background-repeat: no-repeat;
    font-size: 30px;
    font-weight: 600;
    height: 90px;
    padding-top: 10px;
  }
  &-3{
    margin-left: 209px;
  }
}
.form{
  &__wrapper{
  display:flex;
  padding-top: 35px;
  }
  padding-top: 35px;
  font-size: 12px;
  font-weight: 600;
  width: 532px;
  height: 279px;
  border-radius: 10px;
  background-color: #bdf3e4;
  box-shadow: 2px 4px 10px rgba(0,0,0,.27);
  padding: 25px 40px 25px 40px;
  &__box{
    height: 200px;
    width: 100%;
    display: flex;
  }
  &__fieldset{
    div+div,input{
      margin-top: 7px;
    }
    border: none;
    padding:0;
  }
  &__row{
    width: 190px;
  }
  textarea,input{
    font-size: 15px;
    background-color: #fefefe;
    border: 0;
    padding: 10px;
  }
  input{
    width: 190px;
    height: 31px;
    border-radius: 5px;
    padding: 10px;
  }
  textarea{
    width: 207px;
    height: 155px;
    border-radius: 10px/7px;
    resize: none;
    margin-top: 12px;
  }
  button{
    font-size: 16px;
    color: #375376;
    width: 138px;
    height: 30px;
    border-radius: 6px/7px;
    background-color: transparent;
    border: solid 2px #375376;
    margin-left: 35px;
  }
}
.contact__info{
  width: 430px;
  height: 323px;
  background-image: url(../images/contact/contact-img.png);
  background-repeat: no-repeat;
  font-weight: 700;
  padding: 60px 0 0 90px;
  margin-left: 65px;;
  p{
    font-size: 36px;
    color: #293e59;
    font-weight: 700;
  }
  a{
    display: block;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}
//end contact

//start footer
.footer__inner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
  .icon-vk{
    margin: 0 13px 0 auto;
  }
}
.year{
  margin-left: auto;
  font-weight: 500;
}
//end footer













@media (max-width: 1062px){
  .button__box{
    display: none;
  }
}
@media (max-width: 1024px){
  .slick-dots {
    margin-left: 1px;
    margin-bottom: 15px;
    button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #597a7f;
    border-radius: 50%;
    }
    // li + li{
    //   margin-top: 2px;
    // }
  }
  // .button__box{
  //   display: none;
  // }
  .m-slider__inner{
    button{
    margin: 0 auto;
    }
  }
  .box-right{
    margin-top: 18px;
    margin-bottom: 40px;
  }
  .slide{
    justify-content: center;
  }
  .m-slider__social{
    bottom: 0;
  }
  .snav{
  right: 1%;
  bottom: 130px;
  }
}
@media (max-width: 768px){
  .snav{
    transform: rotate(90deg);
    bottom: 4%;
    right: 140px;
  }
  .snav__paging-info{
    display: none;
  }
}
@media (max-width: 480px){
  .slick-dots {
    margin-left: -2px;
    margin-bottom: 30px;
    button{
    width: 15px;
    height: 15px;
    }
    li + li{
      margin-top: 20px;
    }
  }
  .portfolio__social{
  display: none;
  }
  .snav{
    transform: rotate(-90deg);
    bottom: 11%;
    right: 20%;
  }
  .m-slider__name{
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 20px;
    padding-top: 0;
  }
  .m-slider__info{
    font-size: 24px;
    line-height: 46px;
  }
  .m-slider__social{
    bottom: 13%;
  }
  .container{
    padding: 0 55px;
  }
  .header__inner{
    margin-bottom: 35px;
  }
  .box-right{
    margin-bottom: 0;
  }
  .header-button, .header__menu{
    display: none;
  }
  .contact-phone{
    font-size: 14px;
    margin: 0  10px;
    span{
      margin-right: 0;
    }
  }
  .pnav__wrapper{
  right: 5%;
  }
}

@media (max-width: 360px){
  .container{
    padding: 0 15px;
  }
  .snav{
    bottom: 10%;
  }
  .m-slider__social{
    bottom: 16%;
  }
}
@media (min-width: 1062px){
.m-slider__inner>button{
    display: none;
    }
}