@import "vars";
@import "global";
@import "fonts";

// start header

.header__inner{
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  padding-top: 20px;
  margin-bottom: 50px;
}
.logo{display:flex;
  &__img{
    width: 100%;
    height: 100%;
    background-image: url(../images/icons/logo.png);
    background-repeat: no-repeat;
  }
  &__info{
    
    text-transform: uppercase;
    color: #2b415c;
  }
  &__name{
    font-family: "VAGRoundCyrillic", sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  &__spec{
    font-family: "AvenirNextCyr", sans-serif;
    font-size: 8px;
    font-weight: 500;
    line-height: 10px;
  }
}
.header__menu{
  margin-left: 180px;
  padding-top: 15px;
  &>li{
    display: inline;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
  }
  li+li{margin-left: 20px;
  }
}
.contact-phone{
  position: relative;
  font-size: 14px;
  font-weight: 700;
  padding-top: 17px;
  margin-left: 130px;
  span{vertical-align: middle;
    margin-right: 8px;
    font-size: 20px;
  }
}
.header-button{
  height: 26px;
  &__wrapper{
    padding-top: 14px;
  }
}

//end header

//start m-slider

.m-slider{
  &__inner{
    position: relative;
    display: flex;
    min-height: 630px;
  }
  &__box{
    width: 100%;
    font-weight: 700;
    margin: 0 90px;
  }

  &__name{
    font-size: 41px;
    color: #fff;
    padding-top: 130px;
    margin-bottom: 40px;
  }
  &__info{
    font-size: 36px;
    line-height: 46px;
    color: #2c4461;
    text-transform: uppercase;
  }
  &__slogan{
    font-size: 14px;
    line-height: 18px;
    color: #375376;
  }
  &__button{
    width: 240px;
    height: 50px;
    background-color: #f1872f;
    font-size: 15px;
    color: #fff;
    border: none;
    box-shadow: 3px 5px 7px rgba(39,60,86,.39);
  } 
  &__social{
    position: absolute;
    bottom: 220px;
    // padding-top: 320px;
  }
}
.button__box{
  position: relative;
  padding-top: 60px;
  margin-left: 45px;
}
.slide{
  display: flex !important;
}
.box-right{
  width: 60%;
  &__image{
    width: 605px;
    min-height: 540px;
    background-repeat:no-repeat;
    background-position: center,center;
  }
}
.box-left{
  width: 40%;
}
.slick-dots{
  margin-bottom: 27px;
  li{
    width: 15px;
    height: 15px;
  }
  button{
  background-color: transparent;
  border: none;
  font-size: 10px;
  font-weight: 700;
  color: rgba(55, 83, 118, 0.5);
  }
  li+li{
    margin-top: 15px;
  }
  .slick-active>button{
  color:  rgba(55, 83, 118, 1);
  }
}

.snav{
  position: absolute;
  width: 15px;
  height: 180px;
  right: 45px;
  bottom: 175px;
  cursor: pointer;
  &__next{
    width: 12px;
    height: 16px;
    background-image: url(../images/icons/up.png);
    margin-bottom: 12px;
    background-position-x: 2px;
    background-repeat: no-repeat;
  }
  &__paging-info{
    transform: rotate(-90deg);
    margin-bottom: 10px;
    color: $db;
    font-size: 12px;
    font-weight: 700;
  }
  &__prev{
    width: 12px;
    height: 16px;
    background-image: url(../images/icons/down.png);
    background-position-x: 2px;
    background-repeat: no-repeat;
  }
}
// .slick-nav__wrap{;
//   position: absolute;}
//end m-slider